.storybook-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--token-stroke-weight-default) solid var(--token-stroke-color-subtle);
  padding: 15px 20px;
  font-family: var(--token-font-default);
}

.storybook-header svg {
  display: inline-block;
  vertical-align: top;
}

.storybook-header h1 {
  display: inline-block;
  vertical-align: top;
  margin: 6px 0 6px 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: var(--token-text-default);
}

.storybook-header button + button {
  margin-left: 10px;
}

.storybook-header .welcome {
  margin-right: 10px;
  color: var(--token-text-default);
  font-size: 14px;
}
